p {
	color:blue;
	font-size: 20px;
	width: 200px;
}
a:link, a:visited {
	text-decoration: none;
	background-color:green;
	border: 1px solid blue;
	color:black;
	display: block;
	width:200px;
	text-align: center;
	margin-bottom: 1px;
}
a:hover, a:active {
	background-color:red;
	color: purple;
}
section > div {
	font-size: 20px;
}
section > div:nth-child(odd) {
	background-color: gray;
}


h1 {
	color: green;
	font-size: 36px;
	text-align: center;
}
section > div:nth-child(4):hover {
	background-color: green;
	cursor: pointer;
}
